<div class="page-title">
  <div class="pull-right">
    <%= link_to '<i class="fa fa-clock-o" aria-hidden="true"></i> Log Time'.html_safe, new_time_entry_path, class: 'btn btn-custom' %>
    <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> New Project'.html_safe, new_project_path, class: 'btn btn-custom' %>
    <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> New Client'.html_safe, new_client_path, class: 'btn btn-custom' %>
  </div>
  <h1>Dashboard</h1>
</div>

<div class="grid">
  <div class="unit unit25">
    <div class="card">
      <h6>Hours this month</h6>
      <h5>64</h5>
    </div>
  </div>
  <div class="unit unit25">
    <div class="card">
      <h6>Monthly profit</h6>
      <h5>£2,895.25</h5>
    </div>
  </div>
  <div class="unit unit25">
    <div class="card">
      <h6>Active projects</h6>
      <h5><%= @projects.count %></h5>
    </div>
  </div>
  <div class="unit unit25">
    <div class="card">
      <h6>Completed projects</h6>
      <h5><%= @projects.where(complete: true).count %></h5>
    </div>
  </div>
</div>
