<div class="page-title">
  <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> New Project'.html_safe, new_project_path, class: 'btn btn-custom pull-right' %>
  <h1>Projects</h1>
</div>

<table class="table table-striped">
  <tr>
    <th>Project</th>
    <th>Client</th>
    <th>Budget</th>
    <th>Spent</th>
    <th>&nbsp;</th>
    <th>Remaining</th>
    <th>Costs</th>
  </tr>
  <% @projects.each do |project| %>
    <tr>
      <td style="width: 25%;"><%= link_to project.name, project_path(project) %></td>
      <td style="width: 14%;"><%= link_to project.client.name, client_path(project.client) %></td>
      <td style="width: 14%;"><%= project.budget %> hours (<%= project.total_days %> days)</td>
      <td style="width: 8%;"><%= project.total_hours %> hours</td>
      <td style="width: 14%;"><div class="progress"><span class="green" style="width: <%= project.total_percent %>%"></span><span class="red" style="width: <%= project.total_percent - 100 %>%"></span></div></td>
      <td style="width: 20%;"><%= project.budget - project.total_hours %> hours (<%= project.remaining_percent %>% remaining)</td>
      <td style="width: 5%;"><span class="badge green">&pound;<%= project.project_total %></span></td>
    </tr>
  <% end %>
</table>
