<style>
  @import url('https://fonts.googleapis.com/css?family=Ubuntu');

  body{
    color: #333;
    font-family: 'Ubuntu', sans-serif;
  }

  .invoice-container{
    width: 1000px;
    margin: 0 auto;
  }

  .clearfix{
    clear: both;
  }

  .flex-container{
    /*display: flex;*/
  }

  .unit50{
    float: left;
    max-width: 50%;
  }

  .unit50.right{
    float: right;
  }

  h1{
    margin: 0 0 50px 0;
  }

  p{
    margin: 0;
  }

  .align-right{
    text-align: right;
  }

  table.table{
    border-collapse: collapse;
  }

  table.table tr th{
    padding: 5px;
  }

  table.table tr td{
    padding: 5px 5px 5px 15px;
  }

  table.table tr th{
    width: 100px;
    border-right: 1px solid #aaa;
    text-align: left;
  }

  address{
    max-width: 200px;
  }

  table.tasks{
    width: 100%;
    margin: 50px 0;
    border-collapse: collapse;
  }

  table.tasks tr th{
    padding: 5px;
    text-align: left;
    border: 1px solid #aaa;
  }

  table.tasks tr td{
    padding: 5px;
    text-align: left;
    border: 1px solid #aaa;
  }

</style>

<div class="invoice-container">
  <h1>Invoice</h1>
  <div class="flex-container">
    <div class="unit unit50 right">
      <table class="table">
        <tr>
          <th valign="top">From:</th>
          <td valign="top">Adam Fidler</td>
        </tr>
        <tr>
          <th valign="top">Invoice for:</th>
          <td valign="top">
            <strong><%= @project.client.name %></strong><br />
            <address><%= @project.client.address %></address>
          </td>
        </tr>
      </table>
    </div>
    <div class="unit unit50">
      <table class="table">
        <tr>
          <th valign="top">Issue Date:</th>
          <td valign="top"><%= Date.today %></td>
        </tr>
        <tr>
          <th valign="top">Due Date:</th>
          <td valign="top"><%= Date.today %> (upon receipt)</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="clearfix"></div>

  <table class="tasks">
    <tr>
      <th>Task</th>
      <th style="text-align: right;">Total Hours</th>
      <th style="text-align: right;">Cost</th>
    </tr>
    <% @time_entries.group_by(&:task).each do |time| %>
      <tr>
        <td>
          <%= time.first.task_name %>
        </td>
        <td style="text-align: right;">
          <% total_hours = time.second.map(&:hours).inject(0, &:+) %>
          <%= total_hours %> <%= "Hour".pluralize(total_hours) %>
        </td>
        <td style="text-align: right;">
          <span class="badge green">£<%= @project.project_rate * total_hours %></span>
        </td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td class="large" style="text-align: right;">Total: &pound;<%= @project.project_total %></td>
    </tr>
  </table>

  <p style="margin-bottom: 10px; padding-top: 10px; border-top: 1px solid #aaa;"><strong>Notes:</strong></p>
  <p>Payment to:</p>
  <p>Name: Adam Fidler</p>
  <p>Bank: Santander</p>
  <p>Sort code: 09-01-26 Account Number: 87667333</p>
</div>
