<%= wicked_pdf_stylesheet_link_tag "documents" %>

<div class="document">
  <div class="page-title">
    <h1>Invoice</h1>
  </div>

  <div class="pull-right" style="max-width: 200px;">
    <strong>Project:</strong> <%= @project.name %><br />
    <strong>Client:</strong> <%= @project.client.name %><br />
    <strong>Address:</strong> <%= @project.client.address %>
  </div>

  <div class="pull-left">
    <strong>Issue date:</strong> <%= Date.today %><br />
    <span style="white-space: nowrap;"><strong>Due date:</strong> <%= Date.today %> (upon receipt)</span>
  </div>

  <table class="table table-striped" style="margin-top: 20px;">
    <tr>
      <th>Date</th>
      <th>Hours</th>
      <th>Rate</th>
    </tr>
    <% @project.time_entries.each do |time| %>
      <tr>
        <td><%= time.created_at.to_date.to_formatted_s(:long_ordinal) %></td>
        <td><%= time.hours %></td>
        <td>&pound;<%= @project.project_rate %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td><strong>Hours Total:</strong> <%= @project.total_hours %></td>
      <td><strong>Total:</strong> &pound;<%= @project.project_total %></td>
    </tr>
  </table>
</div>
