<div class="page-title">
  <%= link_to 'Edit Project', edit_project_path(@project), class: 'btn btn-primary pull-right' %>
  <h1>
    <small><%= @project.client.name %></small>
    <%= @project.name %>
  </h1>
</div>

<% if @project.complete %>
  <div class="pull-right">
    <span class="complete">Completed</span>
  </div>
<% end %>

<blockquote class="blockquote">
  <strong>Created:</strong> <%= @project.created_at.to_date.to_formatted_s(:long_ordinal) %><br />
  <strong>Deadline:</strong> <%= @project.end_date.to_date.to_formatted_s(:long_ordinal) %> <span class="italic">(<%= (@project.end_date - Date.today).to_i %> days remaining)</span><br />
  <strong>Budget:</strong> <%= @project.budget %> Days<br />
  <strong>Rate:</strong> £<%= @project.project_rate %> Per Hour<br />
</blockquote>

<h3>Time Entries</h3>

<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Hours</th>
    <th>Rate</th>
    <th>Actions</th>
  </tr>
  <% @project.time_entries.each do |time| %>
    <tr>
      <td><%= time.created_at.to_date.to_formatted_s(:long_ordinal) %></td>
      <td><%= time.hours %></td>
      <td>£<%= @project.project_rate %></td>
      <td>
        <%= link_to 'Edit', edit_time_entry_path(time) %>
        <%= link_to 'Delete', time_entry_path(time), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn danger' %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td><strong>Hours Total:</strong> <%= @project.total_hours %></td>
    <td><strong>Total:</strong> £<%= @project.project_total %></td>
    <td></td>
  </tr>
</table>

<%= link_to 'Log Time', new_time_entry_path, class: 'btn btn-primary' %>
<%= link_to 'Invoice', project_path(@project, :format => :pdf), class: 'btn btn-primary' %>
