<div class="page-title">
  <div class="pull-right">
    <%= link_to 'Log Time', new_time_entry_path, class: 'btn btn-custom' %>
    <%= link_to 'Invoice', project_path(@project, :format => :pdf), class: 'btn btn-custom' %>
    <%= link_to 'Edit Project', edit_project_path(@project), class: 'btn btn-custom' %>
  </div>
  <h1>
    <small>
      <%= @project.client.name %>
      <% if @project.complete %>
        <span class="complete">Project complete</span>
      <% end %>
    </small>
    <%= @project.name %>
  </h1>
</div>

<div class="grid">
  <div class="unit unit33 box">
    <p class="muted">Project details</p>
    <strong>Created:</strong> <%= @project.created_at.to_date.to_formatted_s(:long_ordinal) %><br />
    <strong>Deadline:</strong> <%= @project.end_date.to_date.to_formatted_s(:long_ordinal) %> <span class="italic">(<%= (@project.end_date - Date.today).to_i %> days remaining)</span><br />
    <strong>Budget:</strong> <%= @project.budget %> Hours<br />
    <strong>Rate:</strong> £<%= @project.project_rate %> Per Hour<br />
  </div>
  <div class="unit unit33 box">
    <p class="muted">Budget</p>
    <strong>Total hours:</strong> <%= @project.total_hours %><br />
    <strong>Remaining hours:</strong> <%= @project.budget - @project.total_hours %> (<%= @project.remaining_percent %>% remaining)<br />
    <div class="progress"><span class="green" style="width: <%= @project.total_percent %>%;"></span><span class="red" style="width: <%= @project.total_percent - 100 %>%;"></span></div>
  </div>
  <div class="unit unit33 box middle">
    <p>Total Cost</p>
    <p class="xlarge">&pound;<%= @project.project_total %></p>
  </div>
</div>

<h3>Tasks Overview</h3>

<table class="table table-striped">
  <tr>
    <th>Task</th>
    <th>Total Hours</th>
    <th>Cost</th>
  </tr>
  <% @time_entries.group_by(&:task).each do |time| %>
    <tr>
      <td>
        <%= time.first.task_name %>
      </td>
      <td>
        <% total_hours = time.second.map(&:hours).inject(0, &:+) %>
        <%= total_hours %> hours
      </td>
      <td>
        <span class="badge green">£<%= @project.project_rate * total_hours %></span>
      </td>
    </tr>
  <% end %>
</table>

<h3>Time Entries</h3>

<!-- <table class="table table-striped"> -->
  <% @time_entries.group_by(&:task).each do |time| %>
    <!-- <tr> -->
      <table class="table table-striped">
        <tr>
          <th colspan="4"><%= time.first.task_name %></th>
        </tr>
        <% time.second.each do |i| %>
          <tr>
            <td>Date: <%= i.created_at %></td>
            <td>Hours: <%= i.hours %></td>
            <td>Cost: &pound;<%= @project.project_rate * i.hours %></td>
            <td>
              <ul class="actions">
                <li>
                  <a href="">Actions</a>
                  <ul>
                    <li><%= link_to 'Edit Time Entry', edit_time_entry_path(i) %></li>
                    <li><%= link_to 'Delete'.html_safe, time_entry_path(i), method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
        <% end %>
      </table>
    <!-- </tr> -->
  <% end %>
<!-- </table> -->
