<!DOCTYPE html>
<html>
<head>
  <title>Span</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">
    <% if user_signed_in? %>
      <nav class="navbar navbar-light bg-faded">
        <div class="container">
          <a class="navbar-brand logo" href="/">
            <div class="icon-time"><span></span></div>
            Span
          </a>
          <ul class="nav navbar-nav" style="float: right;">
            <li class="nav-item">
              <%= link_to 'Projects', projects_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Clients', clients_path, class: 'nav-link' %>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'nav-link') %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    <% end %>

    <div class="main container">
      <%= yield %>
    </div>

    <footer></footer>
  </div>

</body>
</html>
